

div.boks1 {
    /* background-color: rgba(95, 158, 160, 0.5); */
    background-color: cadetblue;
    opacity: 0.5;

}
/*  */

div.boks2 {
    background-color: #ff5733;

}

div.boks3 {
    background-color: rgb(255, 0, 34);

}



body {

    font-family: 'Gill Sans', 'Gill Sans MT', arial, sans-serif;

    h1 {
        color: hsl(11, 100%, 60%);
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    


    #p1rem {
        font-size: 1rem;
    }

    .plh {
        line-height: 1.6;
    }

    .pbilde {
        background-image: url("https://picsum.photos/400/200");
        /* background-size: cover; */
        background-size: contain;
        
        /*  background-image: url("https://picsum.photos/400/200"); viser et bilde,
            
            background-image: url("https://picsum.photos/400/200"); + background-size: cover; bildet endrer seg, typ vinkelen.
            
            background-image: url("https://picsum.photos/400/200"); + background-size: contain; viser hele bildet x4.
         */
         
    }


}
